.btn-primary {
    color: #e3f6f5;
    /* contrast to secondary colour */
    font-size: 150%;
    background-color: #2c698d;
    /* some secondary colour */
    border-color: #272643;
    /* some accent colour */
    width: 100%;
    border: 1px solid #272643;
}

.btn-secondary {
    color: #e3f6f5;
    /* contrast to secondary colour */
    font-size: 150%;
    background-color: #272643;
    /* some secondary colour */
    border-color: #272643;
    /* some accent colour */
    width: 100%;
    border: 1px solid #272643;
}

.nav {
    background-color: #272643;
}

.nav li:hover {
    background-color: #1b1b2f;
    transition: ease-in 0.2s;
}

.active-nav-item {
    background-color: #2c698d;
}

/* Map */

#map-embed {
    height: 100vh;
}






/* Trip Planner */

#trip-planner-main {
    text-align: center;
}

#trip-planner-information {
    background-color: #eaeaea;
    padding: 20px;
}

#search-location {
    border-radius: 50px;
    border: #a4a4a4 1px solid;
    width: 100%;
}

#trip-planner-submit {
    border-radius: 50px;
    border: #929292 1px solid;
    background-color: #9b9b9b;
    color: #ffffff;
    font-size: 20px;
}

#trip-planner-submit:hover {
    background-color: #797979;
    transition: ease-in-out 0.2s;
}

#transport-mode {
    border-radius: 10px;
    border: #929292 1px solid;
    background-color: #ffffff;
}

#content p {
    font-style: italic;
    margin-top: 10em;
}



/* Trip Planner Results */
#result-summary {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}


/* Recommendations.html  */
 
.card-center {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  @media only screen and (min-width: 768px) {
    .card-center {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    margin-bottom: 20px;
  }
  
  .card {
    height: 100%;
  }
  
  .btn {
    width: 100%;
  }
  
  .row {
    margin-top: 30px;
  }
  
  @media only screen and (min-width: 768px) {
    .row {
      margin-top: 50px;
    }
  }
  