.btn-primary {
    color: #e3f6f5;
    /* contrast to secondary colour */
    font-size: 150%;
    background-color: #2c698d;
    /* some secondary colour */
    border-color: #272643;
    /* some accent colour */
    width: 100%;
    border: 1px solid #272643;
}

.btn-secondary {
    color: #e3f6f5;
    /* contrast to secondary colour */
    font-size: 150%;
    background-color: #272643;
    /* some secondary colour */
    border-color: #272643;
    /* some accent colour */
    width: 100%;
    border: 1px solid #272643;
}

.nav {
    background-color: #272643;
}

.nav li:hover {
    background-color: #1b1b2f;
    transition: ease-in 0.2s;
}

.active-nav-item {
    background-color: #2c698d;
}

#map-embed {
    height: 100vh;
}